@model Glimpse.NHibernate.Sample.Models.EmployeeInfo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<fieldset>
    <legend>EmployeeInfo</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EmpNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmpNo)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EmpName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmpName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Salary)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salary)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DeptName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DeptName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Designation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Designation)
    </div>
</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
